@charset "utf-8";

/* reset(init) */
*{margin: 0;padding: 0;}
li{list-style: none;}
.clearfix:after{
    content:"";display: block;clear:both;
 }

/* BODY  */
div.wrap{
    width: 1000px;
    margin: 0 auto;
    background-color: skyblue;

}
/* >는 바로 하위에 있는 애만 적용하고 .wrap li는 wrap 밑에 있는 모든 li를 포함한다.  */
/* lnline은 width가 안먹힌다 그래서 블록단위로 하는거임 */
div.wrap > ul > li {
    background-color: pink;
    width: 20%;
    float : left;
    text-align: center;
    line-height: 50px;
}

/* visual */

/* .visual {
    height: 300px;
    background-color: skyblue;
} */


